* {
  margin: 0;
  padding: 0;
  outline: 0;
}

html {
  background-color: blue;
}

body {
    background-color: green;
    font-size: 20;
    color: #1d1d1d;
    font-weight: bold;
    font-style: italic;
}